.mainWrapper {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}

.title {
  text-align: center;
  margin: 10px 0 30px 0;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin-top: 30px;
}

.imgSkill {
  width: 100px;
  margin-bottom: 20px;
  height: 100px;
}

.titleSkill {
  margin-bottom: 20px;
}

.subTitleSkill {
}

